# phinx migrations
phinx.yml

# Config file specific for each ENV
src/Framework/Slim/config_env.php
ruckusing.conf.php

# Ansistrano
ansistrano/deploy.retry

# Sonarqube
.sonar/

tests/reports/

# IntelliJ files
.idea/

vendor/

logs/
!/logs/README.md

# Mac stuff
.DS_Store

# config file
src/Framework/Slim/config_env.php
