<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">

            <form name="newRestaurantForm"
                  ng-submit="newRestaurantForm.$valid && newRestaurantCtrl.create(newRestaurantCtrl.restaurant)"
                  novalidate>

                <div>
                    <label for="name"
                           class="required">Nombre del sitio gogordo</label>
                    <input
                            ng-model="newRestaurantCtrl.restaurant.name"
                            required
                            type="text"
                            name="name"
                            id="name"
                            required="required"
                            maxlength="255"
                            class="form-control">
                </div>

                <br>

                <div>
                    <label for="city" class="required">Ciudad</label>
                    <input
                            ng-model="newRestaurantCtrl.restaurant.city"
                            required
                            type="text"
                            name="city"
                            id="city"
                            required="required"
                            class="form-control">
                </div>
                <br>


                <script type="text/javascript">
                    $(document).ready(function () {
                        $(".js-example-basic-single").select2({
                            placeholder: "Elige categoría",
                        });

                        $('.js-example-basic-single').next('.select2').find('.select2-selection').one('focus', select2Focus).on('blur', function () {
                            $(this).one('focus', select2Focus)
                        })
                        function select2Focus() {
                            $(this).closest('.select2').prev('select').select2('open');
                        }
                    });
                </script>

                <div>
                    <label for="category" class="required">Tipo de comida&nbsp;&nbsp;&nbsp;</label>

                    <select
                            style="width: 50%"
                            class="js-example-basic-single"
                            ng-model="newRestaurantCtrl.restaurant.category"
                            name="category"
                            id="category">
                        <option ng-repeat="item in categories" ng-selected="item.selected" ng-model="newRestaurantCtrl.restaurant.category" value="{{item.name}}">{{item.nameEs}}</option>
                    </select>
                </div>

                <br><br>

                <div>
                    <input type="submit" class="btn btn-default" value="Add">
                </div>
            </form>

            <br>

            <div ng-if="errorMessage" class="alert alert-danger">
                <strong>Error</strong> {{errorMessage}}
            </div>
            <div ng-if="successMessage" class="alert alert-success">
                <strong>Bien!</strong> {{successMessage}}
            </div>


        </div>
    </div>


</div>
