
<div ng-if="!loggedIn">
    <div class="jumbotron">
        <h1>Bienvenid@ gogord@!</h1>
        <p class="lead">Recomendación de restaurantes favoritos entre amigos.</p>
        <p><a class="btn btn-lg btn-success" ui-sref="signup({})" role="button">Sí, quiero ser un gogordo</a></p>
    </div>
</div>

<div>
    <div ng-if="loggedIn" class="jumbotron">
        <h1>Tip:</h1>
        <p class="lead">Un gogordo de verdad, metería un par de recomendaciones. Ahí lo dejo...</p>
        <p><a class="btn btn-lg btn-success" ui-sref="newRestaurant({})" role="button">+ Añadir un restaurante favorito</a></p>
    </div>

    <p>
        <a class="btn btn-lg btn-info" ui-sref="addFriend({})" role="button">Seguir a un amigo gogordo</a>

    </p>

    <br>
    <br>
</div>


<p>
    <span class="lead">Sitios gogordos en...</span>
    &nbsp;
    <a class="lead" ui-sref="cityRestaurants({city: 'barcelona'})">Barcelona</a>
    &nbsp;
    <a class="lead" ui-sref="cityRestaurants({city: 'madrid'})">Madrid</a>
    &nbsp;&nbsp;&nbsp;
    <a class="lead">Ver más ciudades</a>
</p>

<div class="row">

    <div class="col-md-6">
        <div ng-if="friendRestaurants">
            <h3>Recomendaciones de mis amigos gogordos</h3>

            <br>
            <div>
                <div ng-repeat="res in friendRestaurants">
                    <p>
                        <a ui-sref="userPage({username: res.username})">{{res.username}}</a>
                        recomienda
                        <span class="bg-info lead">"{{res.name}}"</span>
                        en
                        <a ui-sref="cityRestaurants({city: res.city})">{{res.city}}</a>
                        , {{res.categoryNameEs}}.
                    </p>
                </div>
            </div>

        </div>


        <nav>
            <ul class="pager">
                <li class="js-friend-restaurants-previous"><a class="js-friend-restaurants-previous-a" ng-click="isFriendsPreviousEnabled&&friendsRestaurantsPreviousPage()">Menos</a></li>
                <li class="js-friend-restaurants-next"><a class="js-friend-restaurants-next-a" ng-click="isFriendsNextEnabled&&friendsRestaurantsNextPage()">Ver más</a></li>
            </ul>
        </nav>

    </div>


    <div class="col-md-6">
        <h3>Todas las recomendaciones gogordas</h3>

        <br>

        <div>
            <div ng-repeat="res in restaurants">
                <p>
                    <a ui-sref="userPage({username: res.username})">{{res.username}}</a>
                    recomienda
                    <span class="bg-info lead">"{{res.name}}"</span>
                    en
                    <a ui-sref="cityRestaurants({city: res.city})">{{res.city}}</a>
                    , {{res.categoryNameEs}}.
                </p>
            </div>
        </div>

        <nav>
            <ul class="pager">
                <li class="js-all-restaurants-previous"><a ng-click="isAllPreviousEnabled&&previousPage()">Menos</a></li>
                <li class="js-all-restaurants-next"><a ng-click="isAllNextEnabled&&nextPage()">Ver más</a></li>
            </ul>
        </nav>
    </div>

</div>


<br>
<p>
    Sitios gogordos en...
    &nbsp;
    <a class="lead" ui-sref="cityRestaurants({city: 'barcelona'})">Barcelona</a>
    &nbsp;
    <a class="lead" ui-sref="cityRestaurants({city: 'madrid'})">Madrid</a>
    &nbsp;&nbsp;&nbsp;
    <a class="lead">Ver más ciudades</a>
</p>
