.beta {
    color: green;
}

.hidde-element {
    visibility: hidden;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

#footer {
    height: 60px;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

