.beta {
    color: green;
}

.hidde-element {
    visibility: hidden;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

/* Sticky Footer. Start*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}
/* Sticky Footer. End.*/

.right {
    position: absolute;
    right: 10px;
}