


<div class="row">

    <div class="col-md-12 fondo">

        <h3>Sitios gogordos en {{cityTitle}}</h3>

        <br>
        <div ng-if="restaurants">


            <ul>
                <li class="restaurant-block" ng-repeat="res in restaurants">
                    <div class="restaurant-item">
                        <a class="restaurant-name" ui-sref="restaurant({restaurant: res.id})">{{res.name}}</a>
                        en
                        <a class="city-name" ui-sref="cityRestaurants({city: res.city})">{{res.city | ucfirst}}</a>
                        <br>
                        <a ui-sref="userPage({username: res.username})">{{res.username}}</a>
                        lo recomienda: "{{res.reason}}".
                        <div ng-if="res.address">
                            <span ng-if="res.address">
                                <i>{{res.address}}</i>
                                <a target="_target"
                                   href="http://maps.google.com/?q={{res.name}}, {{res.address}}">
                                    Ver en el mapa
                                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <nav>
            <ul class="pager">
                <li class="js-city-restaurants-previous foo"><a ng-click="previousPage()">Menos</a></li>
                <li class="js-city-restaurants-next bar"><a ng-click="nextPage()">Ver más</a></li>
            </ul>
        </nav>

    </div>
</div>
