
<h3>Sitios gogordos en {{cityTitle}}</h3>


<div class="row">

    <div class="col-md-6">
        <br>
        <div ng-if="restaurants">

            <div ng-repeat="res in restaurants">
                <gg-restaurant-snippet></gg-restaurant-snippet>
            </div>

        </div>

        <nav>
            <ul class="pager">
                <li class="js-city-restaurants-previous foo"><a ng-click="previousPage()">Menos</a></li>
                <li class="js-city-restaurants-next bar"><a ng-click="nextPage()">Ver más</a></li>
            </ul>
        </nav>

    </div>
</div>
