<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>

    {% block stylesheets %}{% endblock %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/gogordos.css">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-9 ">

            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="{{ path_for('signUp', { }) }}">Registrate</a>
                        </li>
                        <li role="presentation"><a href="">Iniciar sesión</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted"><a href="/">Gogordos</a> <span class="beta">Beta</span></h3>
            </div>

            <br>
            <br>


        </div>
    </div>


    {% block body %}{% endblock %}


    <footer class="footer">
        <p></p>
    </footer>

</div> <!-- /container -->

{% block javascripts %}{% endblock %}


</body>
</html>
