<p>
    Busca a un amigo y añadelo a tu lista de amigos gogordos.
</p>

<br>


<div class="container">
    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-10">


            <ui-select ng-model="selected.value" on-select="itemSelected($item)">
                <ui-select-match placeholder="Introduce un nombre...">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id"
                                   refresh="refreshUsers($select.search)"
                                   refresh-delay="0">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>

            <br>

            <button type="button" class="btn btn-default" ng-disabled="selected.value == undefined"
                    ng-click="addFriend(selected.value)">Seguir
            </button>

            <br>
            <br>


            <div ng-if="errorMessage" class="alert alert-danger">
                <strong>Error</strong> {{errorMessage}}
            </div>
            <div ng-if="successMessage" class="alert alert-success">
                <strong>Bien!</strong> {{successMessage}}
            </div>

            <br><br>
            <h4>Estás siguiendo a...</h4>

            <br>
            <div ng-if="users">


                <table class="table">
                    <tbody>

                    <tr ng-repeat="user in users">
                        <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
                        <td><a ui-sref="userPage({username: user.username})">{{user.username}}</a></td>
                        <td><a ui-sref="userPage({username: user.username})"><span
                                class="">{{user.numRestaurants}}</span> sito(s) favorito(s)</a></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
