<h3>Mis sitios favoritos</h3>

<br>

<div>
    <div ng-repeat="res in restaurants">

        <div class="bs-callout bs-callout-info" id="callout-inputgroup-dont-mix">
            <h4>{{res.name}}, <a class="color-grey" ui-sref="cityRestaurants({city: res.city})">{{res.city}}</a></h4>
            <p>

                {{res.categoryNameEs}}.

                <span ng-if="res.address"><i>{{res.address}}.</i></span>

                <span ng-if="res.address">
                    <a target="_target" href="http://maps.google.com/?q={{res.name}}, {{res.address}}">Ver en el mapa <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                </span>

                <blockquote>

                "{{res.reason}}"
                </blockquote>

                <a href="" style="color:darkgrey">Editar</a>
            </p>
        </div>
    </div>
</div>


<br>
<br>
