
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">


            <form name="signUpForm"
                  ng-submit="signUpForm.$valid && signUpCtrl.register(signUpCtrl.user)"
                  novalidate>

                <div>
                    <label for="username"
                           class="required">Nombre de usuario</label>
                    <input
                            ng-model="signUpCtrl.user.username"
                            required
                            type="text"
                            name="username"
                            id="username"
                            required="required"
                            maxlength="255"
                            pattern=".{2,}"
                            class="form-control"
                    value="xabi">
                </div>

                <br>
                <br>

                <div>
                    <label for="email" class="required">Email</label>
                    <input
                            ng-model="signUpCtrl.user.email"
                            required
                            type="email"
                            name="email"
                            required="required"
                            class="form-control">
                </div>
                <div>
                    <label for="password" class="required">Contraseña</label>
                    <input
                            ng-model="signUpCtrl.user.password"
                            required
                            type="password"
                            name="password"
                            required="required"
                            class="form-control"></div>
                <br>
                <div>
                    <input type="submit" class="btn btn-default" value="Register">
                </div>
            </form>

            <p ng-if="signUpCtrl.errors">{{signUpCtrl.errors}}</p>

        </div>
    </div>
</div>
